.houses {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin-top: 1.5em;
  align-items: center;
  justify-content: center;
}

.houses li {
  margin: 0 1rem;
  width: 15rem;
}

.houses li img {
  border-radius: 1rem;
}

.speech {
  width: 33rem;
  margin: auto;
  padding-top: 5rem;
  color: white;
}

.minerva {
  width: 33rem;
  margin: 0 auto;
  padding-top: 0.125rem;
  color: #996e00;
}
