@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

/* input {
  display: block;
  margin: 0 auto;
} */

.top_bar {
  text-align: center;
}

.top_bar form {
  display: inline-block;
  margin-top: 2rem;
}

.find_character {
  display: inline-block;
}

.select_character {
  display: inline-block;
  vertical-align: top;
}

.top_bar form div label {
  font-family: "Dancing Script", cursive;
  color: #fff;
  font-size: 1.5rem;
}

.top_bar form div input {
  margin-left: 1rem;
  width: 12rem;
  font-family: "Dancing Script", cursive;
  text-align: center;
  height: 1.6rem;
  font-size: 1rem;
}

.top_bar button {
  display: inline-block;
  margin-top: 2rem;
  vertical-align: top;
  margin-left: 1rem;
  border-radius: 1rem;
  height: 1.6rem;
  width: 8rem;
  font-family: "Dancing Script", cursive;
  background-color: #6b63b5;
  border-style: none;
  color: #fff;
}
