@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.navbar {
  height: 5rem;
  background: url(https://i.imgur.com/9J7vAMl.png);
}

.navbar:hover {
  background: url(https://i.imgur.com/4Rp3dvn.png);
}

.navbar nav {
  height: 100%;
}

.navbar ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.navbar li {
  margin: 0 1rem;
  width: 10rem;
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active {
  color: whitesmoke;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #6b63b5;
}
