@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background: url(https://i.imgur.com/TH5DVEU.png);
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.harry-potter {
  background: url(https://i.imgur.com/esrHoet.png);
  background-size: 100% 100%;
  margin-top: 0;
  margin-bottom: 0;
  height: 10rem;
  text-align: center;
  line-height: 10rem;
  font-family: "Dancing script", cursive;
  color: #fff;
  font-size: 8rem;
}

.harry-potter:hover {
  background: url(https://i.imgur.com/0sJ1ADA.png);
}
